.mx_HiddenMediaPlaceholder {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 4px 0;
    min-height: 0;
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    cursor: pointer;
    background-color: $header-panel-bg-color;
    transition: background-color 0.1s ease;

    > div {
        color: $accent;
        /* Icon alignment */
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        
        > svg {
            width: 16px;
            height: 16px;
        }
    }
}

.mx_EventTile:hover .mx_HiddenMediaPlaceholder {
    background-color: $background;
}
